{% load thumbnail %}

{% for image in images %}
    <div class="image">
        <a href="{{ image.get_absolute_url }}">
            {% thumbnail image.image "300x300" crop="smart" quality=85 as im %}
                <img src="{{ im.url }}" alt="{{ image.title }}" width="300" height="300" />
            
        </a>
        <div class="info">
            <a href="{{ image.get_absolute_url }}" class="title">{{ image.title }}</a>
        </div>
    </div>
{% empty %}
    <p class="no-images">No images to display.</p>
{% endfor %}