{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<h1>Login</h1>
{% if form.errors %}
    <p>Invalid username or password. Please try again.</p>
{% else %}
    <p>Please enter your credentials to log in.</p>
{% endif %}

<div class="login-form">
    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="Login"></p>
    </form>
</div>
{% endblock content %}