{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<h1>Login</h1>
{% if form.errors %}
    <p>Invalid username or password. Please try again.</p>
{% else %}
    <p>Please enter your credentials to log in.</p>
{% endif %}

<div class="login-form">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="Login"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <p><a href="{% url 'register' %}">Create an account</a></p>
    <div class="social">
        <ul>
            <li class="google">
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                    Sign in with Google
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}