{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body data-follow-url="{% url 'user_follow' %}">
    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="{% url "images:list" %}">Images</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="{% url 'user_list' %}">People</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if user.is_authenticated %}
                Hello {{ request.user.firstname|default:request.user.username }}, 
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message|safe }}
                <a href="#" class="close">&times;</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <script src="{% static 'js/messages.js' %}"></script>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% block domready %}
            {% endblock domready %}
        })
    </script>
</body>
</html>